@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Appending column title to td */
  /* Inline displaying grid header */
  /* Not displaying elements that are unnecessary on mobile */
  .k-grid table,
  .k-grid thead,
  .k-grid tbody,
  .k-grid th,
  .k-grid td,
  .k-grid tr {
    display: block;
  }
  .k-grid tr {
    text-align: left;
    border: 1px solid #ccc;
  }
  .k-grid td {
    text-align: right !important;
  }
  .k-grid td:before {
    float: left;
    font-weight: bold;
    content: attr(data-title);
  }
  .k-grid .k-grid-header th.k-header[data-title] {
    border: none;
    display: inline-block;
  }
  .k-grid tr.k-filter-row th:empty,
  .k-grid tr td.k-group-cell,
  .k-grid td:empty,
  .k-grid .k-grid-header th.k-header,
  .k-grid .k-grid-header th.k-header.k-group-cell,
  .k-grid .k-grid-header th.k-header.k-hierarchy-cell {
    display: none;
  }
}
